<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h4>Teams you joined</h4>
{{#each teams}}
{{> team}}
{{/each}}

{{! create a team }}
<a href="/team/create">
  <button>Create new team</button>
</a>

{{! join a team }}
<a href="/team/request-to-join">
  <button>Join existing team</button>
</a>