<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

{{! create a team }}
<a href="/team/create">
  <button>Create new team</button>
</a>
{{! <form method="POST" action="/team/create">

</form> }}

{{! join a team }}
<a href="/team/request-to-join">
  <button>Join existing team</button>
</a>
{{! <form method="POST" action="/team/request-to-join">

</form> }}