<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h4>Teams you joined:</h4>
<ul>
{{#each teams}}
<li>{{> team}}</li>
{{/each}}
</ul>

{{! create a team }}
<a href="/team/create">
  <button>Create new team</button>
</a>

{{! join a team }}
<form method="GET "action="/team/search">
<input type="text" placeholder="Search for existing team" name="query">

<button type="submit">Search</button>

</form>
