{{#if user.picture}}
  <img class="pictureLarge" src="{{user.picture}}" alt="{{profile.name}}" />
{{/if}}
<h1>{{profile.name}}</h1>

{{#if userIsOwner}}
  <a href="/profile/edit">Edit Profile</a>
{{/if}}