<div class="container-lg">
  <div class="row">
    <h1>{{profile.name}}</h1>
    <br />

    <div>
      {{#if user.picture}}
        <img
          class="pictureLarge"
          src="{{user.picture}}"
          alt="{{profile.name}}"
        />
      {{/if}}
    </div>

    <br />

    <div>
      {{#if userIsOwner}}
        <a href="/profile/edit">
          <button class="editProfile">Edit Profile</button></a>
      {{/if}}
    </div>

  </div>
</div>