<h1>Edit Profile</h1>

<form method="POST" enctype="multipart/form-data">
  <label for="input-name">Name</label>
  <input
    type="text"
    id="input=name"
    name="name"
    placeholder="Type your new user name"
    value="{{profile.name}}"
  />
  <br />
  <br />

  <label for="input-email">Email</label>
  <input
    type="text"
    id="input-email"
    name="email"
    placeholder="Type your new email"
    value="{{profile.email}}"
  />

  <br />
  <br />

  {{#if user.picture}}
    <img src="{{user.picture}}" alt="Profile picture" />
  {{/if}}
  <label for="input-picture">Add or update your profile picture</label>
  <input id="input-picture" type="file" accept="image/*" name="picture" />

  <br />
  <br />

  <button>Edit profile</button>

</form>