{{! <header class="profile-header"> }}
{{#if user.picture}}
  <img src="{{user.picture}}" alt="{{profile.name}}" />
{{/if}}
<h1>{{profile.name}}</h1>
{{! </header> }}

{{#if userIsOwner}}
  <a href="/profile/edit">Edit Profile</a>
{{/if}}