<h1>Add new task</h1>

<form action="/task/create" method="POST">
  <label for="input-name">Task Title</label>
  <input type="text" id="input-name" name="name" placeholder="Task Title" />
  <button>Add new task</button>
</form>