<h1>Edit Task</h1>

<form method="POST" {{! enctype="multipart/form-data"}}>
  <label for="input-name">Task Title</label>
  <input
    type="text"
    id="input=name"
    name="taskName"
    placeholder="New task title"
    value="{{task.title}}"
  />

  <label for="input-description">Task Description</label>
  <input
    type="text"
    id="input-description"
    name="taskDescription"
    placeholder="New task description"
    value="{{task.description}}"
  />

  <button>Edit Task</button>

</form>