{{!-- <form method="POST" enctype="multipart/form-data">
  <label for="input-message">Message</label>
  <textarea id="input-message" name="message" placeholder="Add new task..."
  ></textarea>
  <input type="text">
  {{!-- <label for="input-file">Add attachments</label>
  <input id="input-file" type="file" <!-- accept="image/*" --> name="file" /> --}}
</form> --}}

<h1>Add new task</h1>

<form action="/task/create" method="POST">
  <label for="input-name">Task Title</label>
  <input type="text" id="input-name" name="name" placeholder="Task Title" />
  <button>Add new task</button>
</form>