<h1>Join an existing team</h1>

<a href="/team/join">
  <button>Join existing team</button>
</a>

<form action="/team/join" method="POST">
  <label for="input-name">Request to join existing team</label>
  <input type="text" id="input-name" name="name" placeholder="Team Name" />
  <button>Create team</button>
</form>
