.card {
  margin-right: 1em;
}

.first {
  background-color: #ffb3ba;
}

.second {
  background-color: #ffdfba;
}

.third {
  background-color: #ffffba;
}

.fourth {
  background-color: #baffc9;
}

.fifth {
  background-color: #bae1ff;
}
